@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  /* Modern Theme Background */
  background-color: #F4F5EF;

  /* Primary text color */
  color: #121011;
}